<launch>

  <!-- Move Base Flex -->
  <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" respawn="false" name="move_base_flex" output="screen" clear_params="true"> 
    <param name="tf_timeout" value="1.5"/>
    <param name="planner_max_retries" value="3"/>
    <rosparam file="$(find blatt11)/config/planners.yaml" command="load" />
    <rosparam file="$(find blatt11)/config/controllers.yaml" command="load" />
    <rosparam file="$(find blatt11)/config/recovery_behaviors.yaml" command="load" />
    <rosparam file="$(find blatt11)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find blatt11)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find blatt11)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find blatt11)/config/local_costmap_params.yaml" command="load" />
  </node>
  
</launch>
